---
import CardDependencia from "../components/CardDependencia.astro";
import { api } from '../api/api.js';
const response = await fetch(`${api}/listDependences`);
const dependences= await response.json();
---
<section id="Dependencias" class=" bg-white pt-[4%] pb-[4%]" >
    <div class=" ml-[2%] mr-[2%] w-auto  pt-[2%] pb-[2%]">
        <div class="w-full flex justify-center">
            <h2 class=" text-xl font-bold tracking-tight text-cherry py-3">DEPENDENCIAS</h2>
        </div>
        <div class="w-full py-5">
            <div class="mx-auto grid w-auto max-w-7xl gap-x-2 gap-y-10 px-6 lg:px-8 lg:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 ">
                {dependences.map((_item)=> <CardDependencia photo={_item.director_detail.profile_image} director={_item.director_name} direction={_item.name} phone={_item.phone}></CardDependencia>)}                                
            </div>
        </div>
    </div>
</section>